html {
  background-color: rgb(30, 30, 30);
}

body {
  color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
}

.pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border: beige 1px solid;
  border-radius: 10px;
  background-color: rgb(39 39 39);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

/*.text-block {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 20px;
}*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
}

.grid-item {
  text-align: center;
  padding: 1px;
}

.languages .fab {
  font-size: 24px;
  color: #4363aa;
}

.languages > a > .fab:hover {
  color: #75a1ff;
}

.social .fab {
  font-size: 24px;
  color: #e0e0e0;
}

.social .fab:hover {
  color: #ffffff;
}

.column {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.row > a {
  text-decoration: none;
  margin: auto;
  margin-inline: 2px;
  /*color: #e0e0e0;*/
}
