html {
  background-color: rgb(30, 30, 30);
}

body {
  color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
}

.pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  border: beige 1px solid;
  border-radius: 10px;
  background-color: rgb(39 39 39);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

/*.text-block {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 20px;
}*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
}

.grid-item {
  text-align: center;
  padding: 1px;
}

.languages a > i {
  font-size: 24px;
  color: #587fd4;
}

.languages i:hover {
  color: #aac5ff;
}

.social .fab {
  font-size: 24px;
  color: #e0e0e0;
}

.social .fab:hover {
  color: #ffffff;
}

.column {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
}

.column > h5 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.column > h4 {
  margin: 0;
  padding: 0;
}

.content .column {
  justify-content: flex-start;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.row > a {
  text-decoration: none;
  margin: auto;
  margin-inline: 2px;
  color: #e0e0e0;
}

/* Style the tab */
.tab {
  overflow: hidden;
  color: #ccc;
  margin-left: 5%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: beige;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #aac5ff;
  border-color: #aac5ff;
}

/* Create an active/current tablink class */
.tab button.active {
  color: #75a1ff;
  border-color: #75a1ff;
}

.content {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 50%;
  margin: 5% 2.5%;
  padding: 5% 2.5%;
}

.tabcontent {
  display: none;
  padding: 2.5% 2%;
}

.tabcontent.active {
  display: block;
}

#intro {
  padding: 6px 12px;
}
