html {
  background-color: rgb(15, 15, 15);
}

body {
  color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
}

.pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  height: 300px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

/*.text-block {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 20px;
}*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
}

.grid-item {
  text-align: center;
  padding: 1px;
}

.languages .fab {
  font-size: 24px;
  color: #4363aa;
}

.languages > a > .fab:hover {
  color: #75a1ff;
}

.social .fab {
  font-size: 24px;
  color: #e0e0e0;
}

.social .fab:hover {
  color: #ffffff;
}
